<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>compileBitcode</key>
        <${enableBitcode}/>
        <key>destination</key>
        <string>export</string>
        <key>method</key>
        <string>${exportType}</string>
        <key>provisioningProfiles</key>
        <dict>
                <key>${bundleid}</key>
                <string>${mpfileUUID}</string>
        </dict>
        <key>signingCertificate</key>
        <string>${p12fingerprint}</string>
        <key>signingStyle</key>
        <string>manual</string>
        <key>stripSwiftSymbols</key>
        <true/>
        <key>teamID</key>
        <string>${p12teamID}</string>
        <key>thinning</key>
        <string>&lt;none&gt;</string>
</dict>
</plist>