<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">

    </style>
</head>

<body>
    <h2>1234</h2>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
    <a href="www.baidu.com">mg-123456</a>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">

</script>

</html>