<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tdatamaster.tdm"
    android:versionCode="1403"
    android:versionName="1.14.003.1403" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="28" />
    <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 网络通信 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取MAC地址 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>
        <meta-data
            android:name="GCloud.TDM.LogLevel"
            android:value="1" />
    </application>

</manifest>