body {
    background-color: #585858;
}

header {
    background-color: aqua;
}

footer {
    background-color: forestgreen;
    text-align: center;
}
ul.unit li{
    list-style-type:none;
    margin: 0px 15px 0px 0px;
}
ul.unit .unit_package{
    display: block;
    background-color: aqua;
}
ul.unit .unit_item{
    display: inline;
}
li.unit_item span{
    color: firebrick;
}
.newline{
    white-space:nowrap;
}
.maincontent{
    margin: 0 auto;
    width: 1160px;
    background-color: #c3c3c3;
}
